### Data Science Capstone - Kevin Wang

In [2]:
import numpy as np
import pandas as pd
import json
import requests
import io
from pandas.io.json import json_normalize
from bs4 import BeautifulSoup
from urllib.request import urlopen

import matplotlib.cm as cm
import matplotlib.colors as colors

print('Libraries imported.')

Libraries imported.

In [78]:
!wget -q -O happiness.csv https://datasciencekw.s3.amazonaws.com/2015happiness.csv
!wget -q -O medianincome.csv https://datasciencekw.s3.amazonaws.com/medianincome.csv
!wget -q -O ppp.csv https://datasciencekw.s3.amazonaws.com/GDPPerCapita.csv
!wget -q -O lifeexpectancy.csv https://datasciencekw.s3.amazonaws.com/LifeExpectancy.csv
print('Data loaded.')

Data loaded.

In [79]:
df1=pd.read_csv('happiness.csv')
namesList1 = ['Country','A','OverallRank','HappinessScore','B','C','D','E','F','G','H','I']
df1.columns = df1.columns[:0].tolist() + namesList1
df1

,Country,A,OverallRank,HappinessScore,B,C,D,E,F,G,H,I
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [92]:
df2=pd.read_csv('medianincome.csv')
namesList2 = ['Country','X','MedianAnnualIncome','Y','MedianIncomeSurveyYear', "Z"]
df2.columns = df2.columns[:0].tolist() + namesList2
df2['MedianAnnualIncome'] = df2['MedianAnnualIncome'].apply(lambda x: x*3*365)
df2

,Country,X,MedianAnnualIncome,Y,MedianIncomeSurveyYear,Z
0,Albania,ALB,7117.5,Europe & Central Asia,2012,c
1,Angola,AGO,3175.5,Sub-Saharan Africa,2009,c
2,Armenia,ARM,5475.0,Europe & Central Asia,2013,c
3,Australia,AUS,48180.0,East Asia & Pacific,2010,i
4,Austria,AUT,51246.0,Europe & Central Asia,2012,i
...,...,...,...,...,...,...
144,Vanuatu,VUT,3942.0,East Asia & Pacific,2010,c
145,Venezuela,VEN,9198.0,Latin America & Caribbean,2006,i
146,Vietnam,VNM,6789.0,East Asia & Pacific,2012,c
147,West Bank and Gaza,WBG,9307.5,Middle East & North Africa,2009,c
148,Zambia,ZMB,1533.0,Sub-Saharan Africa,2010,c

In [93]:
df3=pd.merge(df1[['OverallRank','Country','HappinessScore']], df2[['Country','MedianAnnualIncome']], how="inner", on='Country')
df3

     OverallRank       Country  HappinessScore  MedianAnnualIncome
0              1   Switzerland           7.587             60553.5
1              2       Iceland           7.561             45223.5
2              3       Denmark           7.527             46975.5
3              4        Norway           7.522             65152.5
4              5        Canada           7.427             51355.5
..           ...           ...             ...                 ...
108          152  Burkina Faso           3.587              1971.0
109          154        Rwanda           3.465              1752.0
110          155         Benin           3.340              1971.0
111          157       Burundi           2.905              1314.0
112          158          Togo           2.839              1971.0

[113 rows x 4 columns]

In [94]:
df4=pd.read_csv('ppp.csv')
df4.rename(columns={'Country ':'Country'}, inplace=True)
df5=pd.merge(df3, df4[['Country', '2012']], how="inner", on='Country')
df5.rename(columns={'2012':'GDPPerCapita'}, inplace=True)
df5['GDPPerCapita'] = df5['GDPPerCapita'].apply(lambda x: round(x,1))
df5['MedianAnnualIncome'] = df5['MedianAnnualIncome'].apply(lambda x: round(x,1))
df5['MedianIncome/PerCapita'] = df5['MedianAnnualIncome'] / df5['GDPPerCapita']
df5

,OverallRank,Country,HappinessScore,MedianAnnualIncome,GDPPerCapita,MedianIncome/PerCapita
0,1,Switzerland,7.587,60553.5,57849.6,1.046740
1,2,Iceland,7.561,45223.5,41926.3,1.078643
2,3,Denmark,7.527,46975.5,44804.0,1.048467
3,4,Norway,7.522,65152.5,65354.8,0.996905
4,5,Canada,7.427,51355.5,42189.2,1.217267
...,...,...,...,...,...,...
104,152,Burkina Faso,3.587,1971.0,1550.6,1.271121
105,154,Rwanda,3.465,1752.0,1606.1,1.090841
106,155,Benin,3.340,1971.0,1891.5,1.042030
107,157,Burundi,2.905,1314.0,762.4,1.723505
108,158,Togo,2.839,1971.0,1360.3,1.448945

In [95]:
df6=pd.read_csv('lifeexpectancy.csv')
df6.rename(columns={'Life expectancy ':'LifeExpectancy'}, inplace=True)
df6.rename(columns={'Schooling':'SchoolingYears'}, inplace=True)
df6.rename(columns={'Alcohol':'AlcoholLitersPerCapita'}, inplace=True)
df7=df6[df6.Year.isin([2012])]
df8=pd.merge(df5, df7[['Country', 'LifeExpectancy', 'SchoolingYears', 'AlcoholLitersPerCapita']], how="inner", on='Country')
df8.head(50)

,OverallRank,Country,HappinessScore,MedianAnnualIncome,GDPPerCapita,MedianIncome/PerCapita,LifeExpectancy,SchoolingYears,AlcoholLitersPerCapita
0,1,Switzerland,7.587,60553.5,57849.6,1.046740,82.7,15.7,9.86
1,2,Iceland,7.561,45223.5,41926.3,1.078643,82.5,18.7,7.81
2,3,Denmark,7.527,46975.5,44804.0,1.048467,80.0,18.4,9.26
3,4,Norway,7.522,65152.5,65354.8,0.996905,81.3,17.6,6.21
4,5,Canada,7.427,51355.5,42189.2,1.217267,81.6,15.9,8.30
5,6,Finland,7.406,47085.0,40873.1,1.151980,84.0,17.0,9.24
6,7,Netherlands,7.378,47413.5,47272.1,1.002991,81.1,18.1,9.05
7,8,Sweden,7.364,48837.0,45304.4,1.077975,81.7,15.8,7.40
8,10,Australia,7.284,48180.0,42826.8,1.124996,82.3,20.1,10.03
9,11,Israel,7.278,26061.0,31693.9,0.822272,81.8,15.9,2.78
10,12,Costa Rica,7.226,15220.5,14042.0,1.083927,79.2,13.6,3.34
11,13,Austria,7.200,51246.0,46457.3,1.103077,88.0,15.7,12.26
12,16,Brazil,6.983,12483.0,15506.6,0.805012,74.5,14.2,7.55
13,17,Luxembourg,6.946,63400.5,91622.2,0.691977,81.1,13.9,11.34
14,18,Ireland,6.940,37449.0,46256.6,0.809593,85.0,18.5,11.49
15,19,Belgium,6.937,47085.0,42290.8,1.113363,83.0,16.2,10.08
16,25,Panama,6.786,14235.0,18806.6,0.756915,77.2,12.8,6.95
17,26,Germany,6.750,49603.5,43359.6,1.144003,86.0,16.9,11.18
18,27,Chile,6.670,15549.0,21507.7,0.722950,79.9,15.5,6.76
19,29,France,6.575,47304.0,37679.1,1.255444,81.5,16.1,11.50
20,32,Uruguay,6.485,19600.5,18931.0,1.035365,76.5,15.5,5.77
21,33,Colombia,6.477,9198.0,12226.3,0.752313,74.3,13.2,4.44
22,34,Thailand,6.455,11826.0,14727.1,0.803009,74.3,13.7,6.56
23,36,Spain,6.329,33726.0,31720.1,1.063238,82.0,17.2,9.35
24,40,Suriname,6.269,5037.0,15303.7,0.329136,71.3,12.7,5.73
25,41,Trinidad and Tobago,6.168,8431.5,31770.2,0.265390,78.0,12.6,6.70
26,42,El Salvador,6.130,7884.0,6773.6,1.163931,73.0,13.2,2.48
27,43,Guatemala,6.123,5694.0,7031.5,0.809785,71.3,10.6,2.02
28,46,Japan,5.987,37777.5,37191.4,1.015759,83.3,15.3,7.39
29,48,Ecuador,5.975,8541.0,10483.1,0.814740,75.5,13.3,3.92
30,50,Italy,5.948,36682.5,36486.3,1.005377,82.0,16.6,7.49
31,53,Paraguay,5.878,12373.5,10015.5,1.235435,73.6,12.3,5.36
32,54,Kazakhstan,5.855,11388.0,22408.0,0.508211,69.1,14.7,6.82
33,55,Slovenia,5.848,32740.5,29042.8,1.127319,82.0,16.8,10.95
34,56,Lithuania,5.833,17739.0,24645.6,0.719763,73.0,16.5,15.14
35,57,Nicaragua,5.828,5694.0,4458.7,1.277054,73.9,11.5,3.63
36,58,Peru,5.824,10950.0,11400.3,0.960501,74.9,13.4,5.14
37,59,Belarus,5.813,18724.5,17807.4,1.051501,71.9,15.6,16.35
38,61,Malaysia,5.770,15330.0,23105.1,0.663490,74.5,12.9,0.53
39,62,Croatia,5.759,17301.0,21136.4,0.818541,77.1,14.6,11.49
40,65,Jamaica,5.709,8650.5,8170.1,1.058800,75.3,12.8,3.65
41,67,Cyprus,5.689,23761.5,31834.5,0.746407,80.0,13.8,10.55
42,71,Mauritius,5.477,9964.5,17421.1,0.571979,73.9,14.3,0.01
43,73,Estonia,5.429,20695.5,26190.6,0.790188,76.3,16.5,0.01
44,76,Turkey,5.332,13359.0,20616.9,0.647964,74.8,14.3,1.54
45,78,Nigeria,5.268,1971.0,5392.1,0.365535,52.7,9.7,8.54
46,79,Bhutan,5.253,6570.0,7513.7,0.874403,68.7,12.3,0.01
47,80,Azerbaijan,5.212,8322.0,16193.4,0.513913,71.9,11.8,0.01
48,81,Pakistan,5.194,3613.5,4228.5,0.854558,65.7,7.6,0.04
49,82,Montenegro,5.192,12811.5,13863.9,0.924091,75.6,15.1,0.01